<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Register and manage your meter readings">
            <title>Meter Registration System</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        </head>
        <body>
            <main class="container">
                <header>
                    <h1>Welcome to Meter Registration</h1>
                </header>
                
                <nav class="action-buttons">
                    <a href="/register" class="button">Register</a>
                    <a href="/profile" class="button">Login</a>
                </nav>
            </main>

            <footer>
                <p>&copy; 2025 MeterMatrix.<br> All rights reserved with AN6007 Grp 01.</p>
            </footer>
        </body>
        </html>