    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meter Registration Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
    <main class="container">
        <div class="welcome-container">
            <h1>Welcome! {{ name }}!</h1>
            
            <p>Your Meter ID is: {{ meter_id }}</p>
            <form method="get" action="{{ url_for('profile_home', meterid=meter_id) }}">
                <button type="submit" class="button">
                    Go to Consumption
                </button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 MeterMatrix.<br> All rights reserved with AN6007 Grp 01.</p>
    </footer>
</body>
        